<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  		<%#= render 'layouts/errors', obj: @book %>
  		<%= render 'form', point: @point %>
  		<%= link_to 'Show', point_path(@point) %> |
  		<%= link_to 'Back', points_path, class: "back" %>
  </div>
</div>