<div class='container'>
  <div class='p-5'>
    <h2>Follow Users</h2>
    <% if @users.exists? %>
      <%= render 'customers/users/index', users: @users %>
    <% else %>
      <p class= 'p-5'>ユーザーはいません</p>
    <% end %>
  </div>
</div>